html, body {
	height 		: 100%;
	width 		: 100%; 
	padding 	: 0;
	margin 		: 0;
	text-align: left;

}
h1, ul{
	padding 	: 0;
	margin 		: 0; 
}

#wrapper {
	height: 100%; 
	width: 100%%; 
	background-color: #fff;
	color: #999999;
	font-family: 'Merriweather', serif;
	/*font-family: 'Oswald', sans-serif; */
	letter-spacing: 0em;
  	font-size: 1.33em;
  	padding-left: 0em;
  	text-align: left;
  	line-height: 1em;
}

#wrapper a{
	color: #1485CC;
	text-decoration: none;
}

#wrapper a:hover{
	/*text-decoration: underline;*/
	border-bottom-style: solid;
}


#headline{
	font-family: 'Oswald', sans-serif;
}

#headline ul {
  list-style: none;
  display: inline-block;
  padding: 0em;
}

#headline li  {
  display   : inline-block;
  font-size: 1em;
  color: #4C4C4C;
}


#projectList{
	font-size: 1em;
}

#projectList ul{
	display: inline-block;
	padding-left: 0em;
}

#projectList li{
	list-style: none;
}

.main--spaced {
  margin-bottom: 1.5em;
}
.main {
  width: 100%;
  height: 100%;
  padding: 0em;
  background-color: #fff;
  border-radius: 3px;
  margin-left: 2em;
  margin-right: 2em;
}

.main h1{
	font-size: 4em;
	margin-bottom: .5em;
	color: #1485CC;
	font-family: 'Oswald', sans-serif;
}

.main h2{
	font-size: 1.33em;
	margin-top: 1.66em;
	margin-bottom: .1em;
	color: #8C8C8C;
	font-family: 'Oswald', sans-serif;
}

.main h3{
	font-size: 1em;
	margin-bottom: .1em;
	color: #8C8C8C;
	font-family: 'Oswald', sans-serif;
}

.main p{
	line-height: 1.2em;
	text-align: left;
}

.top {
  display: top;
  height: 100%;
  align-items: left;
  justify-content: center;
}

.top-item {
  max-width: 80%;
}

.top-item--top {
  align-self: top-start;
}

.top-item--bottom {
  align-self: top-end;
}

/* NAV */
.links{
	-webkit-font-smoothing: antialiased; 
	color: #fff; 
	width: 100%;
	/*z-index: 9999;*/
	text-align: left;
	padding-top: 1em;
	font-size: 1.33em;
}


.links ul{
	display: inline-block;	
}

.links li {
	display: inline-block;
	padding-right: .2em;
	padding-left: .2em;
}

.links a {
	color: #999999;
	text-decoration: none;
}