html, body {
	height 		: 100%;
	width 		: 100%; 
	padding 	: 0;
	margin 		: 0;
	text-align: center;

}
h1, ul{
	padding 	: 0;
	margin 		: 0; 
}

#wrapper {
	height: 100%; 
	width: 100%%; 
	background-color: #fff;
	color: #999999;
	font-family: 'Merriweather', serif;
	/*font-family: 'Oswald', sans-serif; */
	letter-spacing: 0em;
  	font-size: 1.33em;
  	padding-left: 0em;
  	text-align: left;
  	line-height: 1em;
}

#wrapper a{
	color: #999999;
	text-decoration: none;
}

#wrapper a:hover{
	/*text-decoration: underline;*/
	border-bottom-style: solid;
}


#headline{
	font-family: 'Oswald', sans-serif;
}

#headline ul {
  list-style: none;
  display: inline-block;
  padding: 0em;
}

#headline li  {
  display   : inline-block;
  font-size: 1em;
  color: #4C4C4C;
}

#randomTitle{
	font-family: 'Oswald', sans-serif;
	/*font-style: italic;*/
	font-weight: bold;
	font-size: .33em;
	letter-spacing: 0.1em;
/*	background-color: #343838;
	color: #000;*/
	padding: 0em;
}

#projectList{
	font-size: 1em;
}

#projectList ul{
	display: inline-block;
	padding-left: 0em;
}

#projectList li{
	list-style: none;
}

.Demo--spaced {
  margin-bottom: 1.5em;
}
.Demo {
  width: 100%;
  height: 100%;
  padding: 0em;
  background-color: #fff;
  border-radius: 3px;
}

.Demo h1{
	font-size: 4em;
	margin-bottom: .5em;
	color: #8C8C8C;
	font-family: 'Oswald', sans-serif;
}

.Demo h2{
	font-size: 1.33em;
	margin-top: 1.66em;
	margin-bottom: .1em;
	color: #8C8C8C;
	font-family: 'Oswald', sans-serif;
}

.Demo h3{
	font-size: 1em;
	margin-bottom: .1em;
	color: #8C8C8C;
	font-family: 'Oswald', sans-serif;
}

.Demo p{
	line-height: 1.2em;
}

.Aligner {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 80%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

/* NAV */
.nav{
	-webkit-font-smoothing: antialiased; 
	color: #fff; 
	width: 100%;
	/*z-index: 9999;*/
	text-align: left;
	padding-top: 1em;
	font-size: 1.33em;
}


.nav ul{
	display: inline-block;	
}

.nav li {
	display: inline-block;
	padding-right: .2em;
	padding-left: .2em;
}

.nav a {
	color: #999999;
	text-decoration: none;
}